{% extends 'base.html' %}
{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/estilo_personal.css' %}">
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{% static 'css/style_2.css' %}"> 
  <link rel="stylesheet" href="{% static 'css/style_table.css' %}"> 
{% endblock css %}

{% block titulo %}
    Fichas en proceso
{% endblock titulo %}

{% block contenido %}

<h1 class="titulo">Fichas de control y seguimiento de correspondencias</h1>
<h3 class="subtitulo">Fichas en proceso de confirmación</h3>

<div class="row">
  <div class="col">
    <div class="card card-body">
      <form method="get">
        {{filtro.form}}
        <button class="btn btn-primary" type="submit">
          Buscar
        </button>
      </form>
    </div>
  </div>
</div>

<section class="ftco-section">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <div class="table-wrap2">
                    <table class="table table-border">
                      <thead class="thead-dark">
                        <tr>
                          <th>No. de ficha</th>
                          <th>Fecha</th>
                          <th>Area a la que se turna</th>
                          <th>Asunto</th>
                          <th>Prioridad</th>
                          <th>Estatus</th>
                          <th>PDF</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for ficha in fichas %}
                        <tr class="alert" role="alert">
                            <td onclick="location.href='{% url 'editar' ficha.id_ficha %}'">
                                {{ficha.id_ficha}}
                            </td>
                            <td onclick="location.href='{% url 'editar' ficha.id_ficha %}'">
                                {{ficha.fecha}}
                            </td>
                            <td onclick="location.href='{% url 'editar' ficha.id_ficha %}'">
                                {{ficha.area_turnada}}
                            </td>
                            <td onclick="location.href='{% url 'editar' ficha.id_ficha %}'">
                                {{ficha.asunto}}
                            </td>
                            <td onclick="location.href='{% url 'editar' ficha.id_ficha %}'" class="prioridad"> 
                                {% if ficha.prioridad == "1" %}
                                  <span class="alta">Alta</span>
                                {% elif ficha.prioridad == "2" %}
                                  <span class="media">Media</span>
                                {% elif ficha.prioridad == "3" %}
                                  <span class="baja">Baja</span>
                                {% endif %}
                            </td>
                            <td onclick="location.href='{% url 'editar' ficha.id_ficha %}'" class="prioridad">
                              {% if ficha.estatus == "1" %}
                                <span class="baja">Atendido</span>
                              {% else %}
                                <span class="alta">Sin atender</span>
                              {% endif %}
                          </td>   
                          <td>
                            <a href="{% url 'pdf' ficha.id_ficha %}" target="_blank">
                              <i class="fa fa-file-pdf-o" style="font-size:35px;color:red"></i>
                            </a>
                          </td>      
                        </tr>
                      </div>
                        {% endfor %}
                      </tbody>
                    </table>
                    <nav aria-label="...">
                        <ul class="pagination">
                          <li class="page-item disabled"><span class="step-links"></li>
                            {% if page_obj.has_previous %}
                              <span><a class="page-link" href="?page=1">&laquo; Primera</a></span>
                              <span><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Anterior</a></span>
                            {% endif %}
                            {% for page_actual in  page_obj.paginator.page_range %}
                              {% if page_actual == page_obj.number %}
                                <span class="page-item active" aria-current="page" ><a class="page-link" href="?page={{ page_actual }}">{{ page_actual }}</a></span>
                              {% else %}
                                <span><a class="page-link" href="?page={{ page_actual }}">{{ page_actual }}</a></span>
                              {% endif %}
                            {% endfor %}
                            {% if page_obj.has_next %}
                                <span><a class="page-link" href="?page={{ page_obj.next_page_number }}">Siguiente</a></span>
                                <span><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Última &raquo;</a></span>
                            {% endif %}
                        </span>
                        </ul>
                      </nav>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock contenido %}