{% extends 'base.html' %}
{% load static %}

{% block titulo %}
    Agregar Ficha
{% endblock titulo %}

{% block contenido %}

<center><h1>Agregar Ficha de control</h1></center>

<div class="main-container">

    <div style='
        padding-left: 1%; padding-right: 1%; padding-top: 2%; padding-bottom: 5%;
        column-count: 2; '>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <!-- {% if form.errors %}
       {% for field in form %}
           {% for error in field.errors %} 
              <div class="alert alert-danger">
                   <strong>{{ error|escape }}</strong>
              </div>
           {% endfor %}
       {% endfor %}
    {% endif %} -->
        <button type="submit" class="btn btn-success">Agregar</button>
    </form>
    </div>

</div>
{% endblock contenido %}
