{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/estilo_personal.css' %}">
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{% static 'css/style_2.css' %}"> 
  <link rel="stylesheet" href="{% static 'css/style_table.css' %}"> 

{% endblock css %}

{% block titulo %}
    Fichas
{% endblock titulo %}

{% block contenido %}

<script>
  function muestraFiltro() {
    var x = document.getElementById("filtro");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}
</script>

<h1 class="titulo">Fichas de control y seguimiento de correspondencias</h1>
<h3 class="subtitulo">Total de fichas asignadas</h3>

<button onclick="muestraFiltro()" class="btn btn-light" style="border-color: #bb4433; position: relative;left: 92%; ">
  <i class="icon-search" style="color:#bb4433"> Filtrar</i> 
</button>

<div class="row">
  {% include 'mensaje.html' %}
    <div class="col" id="filtro" style="display: none;">
      <div class="card card-body">
        <form method="get">
          <div class="col-12">
            <small>Busca fichas por los siguientes filtros: </small>
            <div class="row">
              <div class="col-2">
                <b>{{ filtro.form.id_ficha.label_tag }}</b>
                {% render_field filtro.form.id_ficha class="form-control form-control-sm" %}
              </div>
              <div class="col-3">
                <b>{{ filtro.form.area_turnada.label_tag }}</b>
                {% render_field filtro.form.area_turnada class="form-select form-select-sm" %}
              </div>
              <div class="col-3">
                <b>{{ filtro.form.dependencia.label_tag }}</b>
                {% render_field filtro.form.dependencia class="form-select form-select-sm" %}
              </div>
                <div class="col-2">
                  <b>{{ filtro.form.estatus.label_tag }}</b>
                  {% render_field filtro.form.estatus class="form-select form-select-sm" %}
                <br>
                </div>
              <div class="col-3">
                <b>{{ filtro.form.prioridad.label_tag }}</b>
                {% render_field filtro.form.prioridad class="form-select form-select-sm" %}
              </div>
              <div class="col-3">
                <b>{{ filtro.form.fecha_inicio.label_tag }}</b>
                {% render_field filtro.form.fecha_inicio class="form-control form-control-sm" type="date" %}
              </div>
              <div class="col-3">
                <b>{{ filtro.form.fecha_fin.label_tag }}</b>
                {% render_field filtro.form.fecha_fin class="form-control form-control-sm" type="date" %}
                <br>
              </div>
              <div class="col-5">
                <b>{{ filtro.form.asunto.label_tag }}</b>
                {% render_field filtro.form.asunto class="form-control form-control-sm" %}
              </div>
              <div class="col-2">
                <button style="margin-top:13%; margin-left: 10%; background-color: #bb4433; border-color: #bb4433;" class="btn btn-primary" type="submit">
                  Filtrar
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

<a href="{% url 'crear' %}" class="btn btn-success">Agregar ficha</a>
<section class="ftco-section">
  <div class="container">
      <div class="row">
          <div class="col-md-2">
              <div class="table-wrap2">
                <table class="table">
                  <thead class="thead-dark">
                      <tr>
                        <th>No. de ficha</th>
                        <th>Fecha</th>
                        <th>Número de Documento</th>
                        <th>Área a la que se turna</th>
                        <th>Asunto</th>
                        <th>Prioridad</th>
                        <th>Estatus</th>
                        <th>Opciones</th> 
                      </tr>
                    </thead>
                    <tbody>
                      {% for ficha in fichas %}
                      <tr class="alert" role="alert">
                          <td onclick="location.href='{% url 'editar' ficha.id_ficha %}'">
                              {{ficha.id_ficha}}
                          </td>
                          <td onclick="location.href='{% url 'editar' ficha.id_ficha %}'">
                              {{ficha.fecha}}
                          </td>
                          <td onclick="location.href='{% url 'editar' ficha.id_ficha %}'">
                            {{ficha.num_documento}}
                          </td>
                          <td onclick="location.href='{% url 'editar' ficha.id_ficha %}'">
                              {{ficha.area_turnada}}
                          </td>
                          <td onclick="location.href='{% url 'editar' ficha.id_ficha %}'">
                              {{ficha.asunto}}
                          </td>
                          <td onclick="location.href='{% url 'editar' ficha.id_ficha %}'" class="prioridad"> 
                              {% if ficha.prioridad == "1" %}
                                <span class="alta">Alta</span>
                              {% elif ficha.prioridad == "2" %}
                                <span class="media">Media</span>
                              {% elif ficha.prioridad == "3" %}
                                <span class="baja">Baja</span>
                              {% endif %}
                          </td>
                          <td onclick="location.href='{% url 'editar' ficha.id_ficha %}'" class="prioridad">
                          <div style="width: 140%;">
                            {% if ficha.estatus == "1" %}
                              <span class="baja">Atendido</span>
                            {% else %}
                              <span class="alta">Sin atender</span>
                            {% endif %}
                          </div>
                        </td>   
                        <td> 
                          <div style="width: 150%;">
                          <a title="PDF de ficha" href="{% url 'pdf' ficha.id_ficha %}" target="_blank" >
                            <i class="fa fa-file-pdf-o" style="font-size:25px; color:red;"></i>
                          </a>
                          &nbsp;
                          <a title="Editar ficha" href="{% url 'editar' ficha.id_ficha %}" style="color: blue; font-size:25px;" class="fa fa-edit"></a>
                          &nbsp;
                          <a title="Eliminar ficha"
                            onclick="eliminaFichaModal(`{% url 'eliminar' ficha.id_ficha %}` , '{{ficha.num_documento}}')"
                            type="button" data-toggle="modal" class="fa fa-trash" style="color: red; font-size:25px;"
                            data-target="#modal">
                          </a>
                        </div>
                        </td> 
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                  {% include 'paginado.html' %}
                </div>
            </div>
        </div>
    </div>
</section>
{% include 'modal.html' %}

{% endblock contenido %}

{% block js %}
    <script src="{% static 'js/funciones.js' %}"></script>
{% endblock js %}
