{% extends 'base.html' %}
{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/corres.css' %}">
{% endblock css%}

{% block titulo %}
    Correspondencia
{% endblock titulo %}

{% block contenido %}

<center><h1 class="app-page-title">Correspondencia</h1> </center>
<hr>
<br>
<p style="padding: 0px 10px 10px;"><b>Consulta la correspondencia completa: </b>  <a href="{% url 'pdf_correspondencia' %}" target="_blank">
  <i class="fa fa-file-pdf-o" style="font-size:40px;color:red"></i>
</a></p>


<div class="row">
  <div class="col">
    <div class="tabs">
      {% for dependencia in dependencias %}
        <div class="tab">
          <input type="checkbox" id="{{dependencia.pk}}">
          <label class="tab-label" for="{{dependencia.pk}}">{{dependencia.nombre}} ({{dependencia.siglas}})</label>
            <div class="tab-content">
              <div class="row">
                <div class="col-sm">
                  {% for ficha in fichas %}
                    {% if ficha.dependencia.pk == dependencia.pk %}
                      <a style="background: #1a252f; color: #ffff; margin-right: 6px; margin-bottom: 6px;" class="btn" href="{% url 'pdf' ficha.id_ficha %}" target="_blank">{{ficha.id_ficha}} </a>
                    {% endif  %}
                  {% endfor %}
                </div>
              </div>
            </div>
        </div>
        {% endfor %}
    </div>
  </div>
</div>

{% endblock contenido %}


{% block js %}
  <script src="{% static 'js/funciones.js' %}"></script>
{% endblock js %}
  
</body>